ul {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 8px;
    color: #fff; /* White text color */
    background: linear-gradient(-225deg, #231557, #44107a, #ff1361, #fff800);
    border-radius: 8px;
    font-weight: bold;
}

ul li a {
    color: lightblue; /* Links in list items */
    text-decoration: none;
}

ul li a:hover {
    color: #fff800; /* Hover effect for links */
}

ul li i {
    color: #adb5bd; /* Style italic text inside list items */
}
details {
    margin-bottom: 10px;
    padding: 0.5em;
    background: linear-gradient(-225deg, #231557, #44107a, #ff1361, #fff800);
    border-radius: 8px;
}

details summary {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    background-color: #620675;
    border-radius: 8px;
}

details summary:hover {
    background-color: #ff1361; /* Add hover effect */
}

details[open] summary {
    margin-bottom: 0.5em;
    color: #fff800; /* Change color when expanded */
}
ul {
    padding: 10px;
    border: 2px solid transparent;
    background: linear-gradient(#000, #000) padding-box,
        linear-gradient(45deg, #ff1361, #fff800, #44107a) border-box;
    border-radius: 12px;
}
ul li {
    background-image: linear-gradient(-225deg, #231557, #44107a, #ff1361, #fff800);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}